.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;animation-fill-mode:both
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}
.avatar {
    width: 65px;
    border-radius: 8px;
}

.background-modal-custom {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hidden-modal {
    display: none;
}

.container-img-center{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.card-titles-container {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#themecolors .selector, .cursor-on  {
    cursor: pointer;   
}

#my-signin2{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

#my-signin2 .abcRioButton{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}
